/*

	If you want to use this example, please follow this steps.
	* Use Google Chrome
	* Go to: *chrome://flags/*
	* Set *Enable experimental Web Platform features* on Enable
	* Now u can use this example

*/
/*

Used Colors
hsl(33, 56%, 84%);
hsl(107, 20%, 81%);
hsl(203, 15%, 70%);
hsl(22, 52%, 32%);

*/

/* Ampersand */
@font-face {
    font-family: Ampersand;
    src: local('Baskerville-Italic'), 
    	 local('Garamond Italic'), 
    	 local('Georgia Italic'), 
    	 local('Times New Roman-Italic'), 
    	 local('Cambria-Italic');
    unicode-range: U+26;
}

/* Basics */
* {
	font-family: 'Roboto', 'Helvetica', 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}
body {
	margin: 0;
	padding: 0;
}
h1 {
	font-size: 2.369em;
	font-family: 'Ampersand', 'Roboto', 'Helvetica', 'Open Sans', 'Helvetica Neue', 'Arial', sans-serif;
}
h2 {
	font-size: 1.777em;
	font-weight: 100;
}
h3 {
	font-size: 1.333em;
}
p {
	font-size: 1em;
	padding: 1em;
	margin: 0;
	max-width: 30em;
}
a {
	color: inherit;
	text-decoration: none;
	padding: .5em 1em;
}
button {
	transition: .2s;
	border: none;
	padding: .3em .8em;
	font-size: 1em;
	margin-top: 1em;
	background-color: hsl(203, 15%, 80%);
	color: #fff;
	font-weight: 100;
}
button:hover {
	background-color: hsl(203, 15%, 85%);
	box-shadow: .1em .1em .1em hsl(0, 0%, 42%);
	cursor: pointer;
}

h1, h2, h3, p, a, li, button {
	line-height: 1.7;
}

/* LISTS */
ul {
	padding-left: .5em;
}

li {
	list-style-type: none;
	padding: 0;
	margin: .5em 0;
}
li a {
	padding: .3em .8em;
	transition: .2s;
	background-color: white;
}
li a:hover {
	box-shadow: .1em .1em .1em hsl(0, 0%, 42%);
	background-color: #f2f2f2;
	cursor: pointer;
}



/* IMAGES */
img {
	max-width: 100%;
	height: auto;
}
figure {
	margin: 1em;
}
figcaption {
	padding: .3em;
	background-color: hsl(107, 20%, 71%);
	font-weight: bold;
}




/* SVG global */
svg {
	width: 1.2em;
	height: 1.2em;
}




/* HEADER */
body > header {
	width: 100%;
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	background-color: hsl(33, 56%, 84%);
}
body > header h1 {
	text-align: center;
	font-weight: 100;
}
body > header figure {
	max-width: 20em;
}
body > header img {
	border-radius: 50%;
}
body > header nav {
	width: 100%;
	background-color: hsl(33, 56%, 74%);
}
body > header ul {
	padding: 0 2em;
	display: flex;
	flex-flow: row wrap;
	justify-content: center;
}
body > header li {
	margin: .5em;
}



/* ARTICLES */
article {
	background-color: hsl(107, 20%, 81%);
	display: flex;
	flex-flow: column wrap;
	align-items: center;
	padding: 2em 0;
}
article h1,
article h2 {
	text-align: center;
	margin: 0;
	padding: .2em 1em;
}
article p:last-of-type {
	padding-bottom: 2em;
}



/* Specific Articles */

/* Form article */
main article:nth-child(2) {
	background-color: hsl(203, 15%, 70%);
}
/* Photo's article */
main article:nth-child(3) svg {
	display: none;
}
main article:nth-child(3) {
	display: flex;
	flex-flow: row wrap;
	justify-content: space-around;
}
main article:nth-child(3) header {
	width: 100%;
}
main article:nth-child(3) figure {
	max-width: 30em;
}
main article:nth-child(3) figcaption {
	margin-top: -.3em;
}



/* FORM */
fieldset {
	border: none;
	font-size: 1.333em;
	display: flex;
	flex-flow: column wrap;
}
legend {
	padding-bottom: .3em;
	margin-left: -.5em;
	font-weight: bold;
	color: #383838;
}
label {
	padding-bottom: .3em;
}
input:first-of-type {
	margin-bottom: 2em;
}
input:nth-of-type(2) {
	margin-bottom: .8em;
}
input {
	border: none;
	border-bottom: 1px solid black;
	background-color: hsla(203, 15%, 80%, .2);
	padding: .5em;
}
input:focus {
	background-color: hsla(203, 15%, 80%, .8);
	outline: none;
}



/* FOOTER */
footer {
	background-color: hsl(33, 56%, 84%);
	display: flex;
	flex-flow: column wrap;
	padding: 2em;
	align-items: center;
	justify-content: space-around;
}
footer ul {
	display: flex;
	flex-flow: row wrap;
	align-items: center;
	justify-content: space-between;
}
footer > nav,
footer > ul, 
footer > address {
	max-width: 15em;
	margin: 1em;
}

pre {
	margin: 0;
	padding: 0;
	tab-size: 0;
}
address {
	display: flex;
    flex-direction: row;
    justify-content: center;
}




/* MEDIA QUERIES */
/* NOTE: Because i can't use var's, i wil declair them here, if i would use SASS i would write them inside the code */
@media (min-width: 35.625em) { /* 570px */
	body > header {
		flex-direction: row;
		justify-content: space-between;
	}
	header figure {
		order: -1;
	}
	body > header p {
		align-self: flex-start;
	}
	body > header h1 {
		margin-right: 1em;
	}
}

@media (min-width: 45em) { /* 720px */
	body > header p {
		align-self: flex-start;
	}
	body > header h1 {
		margin: 0;
		font-size: 4em;
	}
}
@media (min-width: 51.875em) { /* 830px */
	footer {
		flex-direction: row;
	}
}


/* Start the usage of CSS GRID LAYOUT */
@media (min-width: 62.500em) { /* 1000px */
	main {
		width: 100%;
		display: inline-grid;
		/* create 6 columns */
		grid-template-columns: 6fr;
		/* create 2 rows */
		grid-template-rows: 2fr;
	}
	main > article:nth-child(1) {
		/* start this section at the second column, end on the fourth column */
		grid-column: 2 / 4;
		/* start this section at the first row */
		grid-row: 1; 
	}
	main > article:nth-child(2) {
		grid-column: 4 / 6;
		grid-row: 1;
	}
	main > article:nth-child(3) {
		grid-column: 1 / 6;
		grid-row: 2; 
		margin: 1em 0;
	}
}

